@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agatho";
  src: url("./assets/fonts/Agatho_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
